<ion-view view-title="Notification simples et multiples">
  <ion-content class="padding">
    <h2>Bienvenue sur mon Application</h2>
    <p>
		Cette application montre comment utiliser les notifications locales
    </p>
	
	<div class="list">
        <label class="item">
          <button class="button button-block button-positive" ng-click="simpleNotification()">Notification Simple</button>
        </label>
		<label class="item">
          <button class="button button-block button-balanced" ng-click="multipleNotification()">Notification Multiple</button>
        </label>
      </div>
  </ion-content>
</ion-view>
